body {
    position: relative;
    align-items: center;
    text-align: center;
    background-image: url("../slike/slike1/alexander-grey-62vi3TG5EDg-unsplash.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    line-height: 1.6;
    color: #333;
    background-color: #f9f9f9;
}

/* Navigacija */
nav {
    background-color: #69437e;
    padding: 10px 0;
    position: sticky;
}

nav .stranice {
    list-style: none;
    display: flex;
    justify-content: center;
    margin: 0;
    padding: 0;
}

nav .stranice li {
    margin: 0 15px;
}

nav .stranice a {
    text-decoration: none;
    color: white;
    font-size: 18px;
    font-weight: bold;
}

nav .stranice a:hover {
    color: #ffe0dc;
}

h1 {
    text-align: center;
    color: #69437e;
    margin-top: 20px;
}

p {
    margin: 0 15%;
    text-align: justify;
    font-size: 16px;
}

.logo {
    margin-top: 100px;
    margin-bottom: 100px;
    border-radius: 50%;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.3);
    animation: pulse 4s infinite;
}

.slika {
    margin-bottom: 50px;
    max-width: 50%;
    border-radius: 50px;
    border: 5px dotted white;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    animation: scaleUp 1.5s ease-in;
}

button {
    display: block;
    margin: 20px auto;
    padding: 10px 20px;
    font-size: 16px;
    color: white;
    background-color: #cdb4db;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background-color: #69437e;
    transform: scale(1.2);
    border-radius: 50%;
    transition: 0.5s;
}

li {
    list-style: none;
    text-align: center;
    margin: 10px 0;
}

li a {
    font-size: 18px;
    color: #69437e;
    text-decoration: none;
    font-weight: bold;
    transition: color 0.3s ease;

}
li a:hover {
    color: black;
}




@keyframes pulse {
    0%, 100% {
        transform: scale(1);
    }
    50% {
        transform: scale(1.09);
    }
}

@keyframes scaleUp {
    from {
        transform: scale(0.7);
        opacity: 0.5;
    }
    to {
        transform: scale(1);
        opacity: 1;
    }
}

@media (max-width: 800px) {
    p {
        margin: 0 5%;
    }

    nav .stranice {
        flex-direction: column;
        align-items: center;
    }

    nav .stranice li {
        margin: 10px 0;
    }
}
